@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: "boxicons";
    src: url("boxicons.ttf");
}
:root {
    --accent: rgb(167, 255, 80);
}

*, *::before, *::after {
    font-family: 'Roboto Mono';
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 15rem;
    transition: 200ms;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    background: #111;
}

.icon-anchor {
    display:none;
}

.short-lang {
    display: none;
}

.sidebar-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1;
    padding-block: 10rem;
    padding-left: 5rem;
}

.anchors {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    position: relative;
}
.anchored {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transform: scale(1.2) translateX(2rem);
    transform-origin: left;
    position: relative;
}
.anchored::before {
    content: '';
    position: absolute;
    background-color: white;
    left: -6.5rem;
    top: 50%;
    height: 2px;
    width: 6rem;
}
.anchors:hover {
    transform: scale(1.2);
    position: relative;
}
.anchors::before {
    content: '';
    position: absolute;
    background-color: white;
    left: -4.5rem;
    top: 50%;
    height: 2px;
    width: 4rem;
    transform: scale(0);
}
.anchors:hover::before{
    transition: transform 200ms;
    transform-origin: right;
    transform: scale(1);
}

.language-container {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    width: 150%;
    margin-left: -5rem;
}
.english-button,
.portugues-button {
    cursor: pointer;
    position: relative;
}
.english-button a,
.portugues-button a{
    text-decoration: none;
}
.english-button:hover::before,
.lang-active::before,
.portugues-button:hover::before {
    position: absolute;
    content: '[';
    left: -.6rem;
}
.english-button:hover::after,
.lang-active::after,
.portugues-button:hover::after {
    position: absolute;
    content: ']';
}

.title-style {
    margin-top: 15rem;
    display: grid;
    place-items: center;
    font-size: 3rem;
    color: white;
    max-width: clamp(400px,650px,700px);
    position: relative;
    transform-style: preserve-3d;
}
.title-style::after {
    transform: rotate(45deg) translateZ(-25px) translateX(90rem) translateY(20rem) scale(3);
    position: absolute;
    content: '';
    height: 25rem;
    width: 25rem;
    top: -10rem;
    right: -10rem;
    z-index: -1;
    background-image: url(images/logoWhite.svg);
    background-repeat: no-repeat;
    opacity: .05;
}
.title-style p {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.scroll-advice {
    position: relative;
    padding-block: 5rem;
}
.scroll-advice::before,
.scroll-advice::after {
    position: absolute;
    content: '\ea4a';
    font-family: 'boxicons';
    animation: example .5s ease-in-out 0s infinite alternate;
}
.scroll-advice::before{
    left: -1rem;
}
@keyframes example {
    from {transform: translateY(-.2rem)}
    to {transform: translateY(.2rem);} 
}

#main {
    display: grid;
    place-items: center;
    transform-style: preserve-3d;
}

#langAboutMe{
    line-height: 3rem;
}
.underline-web,
.underline-name,
.underline-gd,
.underline-3d {
    position: relative;
}
.underline-web,
.underline-gd,
.underline-3d {
    animation: fontcolor .5s ease-in-out 2s forwards;
}
@keyframes fontcolor {
    to {color: black;}
}
.underline-name::after,
.underline-web::after,
.underline-gd::after,
.underline-3d::before {
    position: absolute;
    content: '';
    height: 10%;
    width: 0%;
    background-color: var(--accent);
    bottom: 0;
    left: 0;
    z-index: -1;
}
.underline-web::after,
.underline-gd::after,
.underline-3d::before {
    height: 80%;
    bottom: 0%;
    background-color: var(--accent);
    color: black;
}
.underline-name::after{
    animation: underline .5s ease-in-out .5s forwards;
}
.underline-gd::after {
    animation: underline .5s ease-in-out 2s forwards;  
}
.underline-3d::before {
    animation: underline .5s ease-in-out 2s forwards;  
}
.underline-web::after {
    animation: underline .5s ease-in-out 2s forwards;  
}
@keyframes underline {
    to {width: 100%;}
}

.backcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    max-width: clamp(400px,600px,700px);
    height: clamp(350px,1vh,1080px);
    position: relative;
    transform-style: inherit;
    padding-left: 11rem;
    color: white;
    margin-block-end: 15rem;
    padding-bottom: 3rem;
    padding-top: 2.5rem;
    padding-right: 1.5rem;
}
.backcard h3 {
    font-size: 2rem;
    line-height: 3rem;
    padding-bottom: 1.5rem; 
}

.bottom-card-info img {
    padding-block: 0.1rem;
    height: 2rem;
}

/*#card1::after {
    font-family: 'boxicons';
    font-size: 3rem;
    content: '\eaee';
    position: absolute;
    right: 0;
    transform: translateZ(-5px) translateX(20rem) scale(1.5) rotate(20deg);
    opacity: .2;
}

#card1::before {
    font-family: 'boxicons';
    font-size: 3rem;
    content: '\ef23';
    position: absolute;
    left: 0;
    transform: translateZ(5px) translateY(-20rem) scale(.5);
    opacity: .5;
}

#card2::after {
    font-family: 'boxicons';
    font-size: 3rem;
    content: '\ebb1';
    position: absolute;
    left: 0;
    transform: translateZ(5px) translateY(-10rem) scale(.4);
    opacity: .5;
}
#card2::before {
    font-family: 'boxicons';
    font-size: 3rem;
    content: '\e90a';
    position: absolute;
    right: 0;
    top: 0;
    transform: translateZ(4px) translateX(5rem) scale(.6);
    opacity: .5;
}

#card3::after {
    font-family: 'boxicons';
    font-size: 3rem;
    content: '\e91e  \e940  \edb9';
    position: absolute;
    right: 0;
    top: 0;
    transform: translateZ(4px) translateX(5rem) scale(.6);
    opacity: .5;
}
#card3::before {
    font-family: 'boxicons';
    font-size: 3rem;
    content: '\ec42';
    position: absolute;
    left: -30rem;
    top: 0;
    transform: translateZ(-5px)  scale(1.5) rotate(-20deg);
    opacity: .2;
}
#card4::after {
    font-family: 'boxicons';
    font-size: 3rem;
    content: '\ea21';
    position: absolute;
    right: 0;
    top: -10rem;
    transform: translateZ(4px) scale(.6);
    opacity: .5;
} */
.image-1 {
    background-image: url(images/unsplash1.jpg);
    position: relative;
}
.image-2 {
    background-image: url(images/unsplash2.jpg);
}
.image-3 {
    background-image: url(images/unsplash3.jpg);
}
#front-card {
    width: 40%;
    height: 50%;
    position: absolute;
    left: -3rem;
    top: 0;
    transform-origin: center;
    transform: translateZ(2px) scale(.8);
    border: 1px solid white;
    padding: 3rem;
    background-size: 125%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
#front-card:hover {
    transform: translateZ(2px) scale(1);
    background-size: 100%;
}
.image-1:hover::after{
    content: 'artstation';
}
.image-2:hover::after{
    content: 'behance';
}
.image-3:hover::after{
    content: 'github';
}
.image-4:hover::after{
    content: 'undefined';
}
.image-1:hover::after,
.image-2:hover::after,
.image-3:hover::after,
.image-4:hover::after {
    position: absolute;
    z-index: 99;
    left: 0;
    bottom: -1.5rem;
    transform: scale(.8);
}

.illustrator-icon,
.blender-icon,
.indesign-icon,
.html-icon,
.css-icon,
.js-icon,
.photoshop-icon
.davinci-icon {
    position: relative;
}

.tooltip {
    position: absolute;
    bottom: 1rem;
    font-size: 14px;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.davinci-icon:hover + .tooltip,
.illustrator-icon:hover + .tooltip,
.blender-icon:hover + .tooltip,
.indesign-icon:hover + .tooltip,
.html-icon:hover + .tooltip,
.css-icon:hover + .tooltip,
.js-icon:hover + .tooltip,
.photoshop-icon:hover + .tooltip {
    opacity: 1;
}

@media (max-width: 1440px) {
    .sidebar-container {
        padding-left: 1rem;
    }
    .word-anchor,
    .long-lang {
        display: none;
    }
    .icon-anchor,
    .short-lang {
        display: block;
    }
    .anchors:hover{
        transform-origin: left;
    }
    .english-button:hover::after,
    .lang-active::after,
    .portugues-button:hover::after {
        top: 0;
        right: -.3rem;
    }
}

@media (max-width: 1100px) {
    .backcard {
        width: 400px;
        padding-left: 1.5rem;
        margin-top: 5rem;
    }
    #front-card {
        width: 85%;
        height: 50%;
        top: -10rem;
        left: auto;
    }
    .title-style {
        font-size: 1.7rem;
        width: 400px;
    }
    .title-style p {
        font-size: 1rem;
    }
}